{% extends "layout.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}

<div class="w3-container">
    <p>This website will allow you to maintain the Extended Service Plans used by the ESPApp used by employees to assist them in selling
        these plans to the customer.</p>
    <p>The management of the plans is accomplished using three pages, linked above and described below.</p>
    <ul class="w3-ul w3-large">
        <li>
            <span>List: </span><span class="w3-medium">This page shows all the plans in their categories</span>
        </li>
        <li>
            <span>Categories: </span><span class="w3-medium">This page allows you to view/modify the list of plan categories.</span>
        </li>
        <li>
            <span>Plans:  </span><span class="w3-medium">This page is where you view/modify the actual plans, and assign them to the categories.</span>
        </li>
        <li>
            <span> API Key: </span><span class="w3-medium">On this page you request an API key to use our API.</span>
        </li>
    </ul>
</div>

{% endblock %}
