{% extends "layout.twig" %}

{% block title %}Registration Succeeded{% endblock %}

{% block body %}

    <h1>Thanks for registering your API!</h1>
    <p>Your API ksy is: {{ apikey }}</p>

{% endblock %}