{% extends "layout.twig" %}

{% block title %}Registration Failure{% endblock %}

{% block body %}

    <h1>Unable to create API Key</h1>
    <p>Sorry, we were not able to createan API key.</p>

{% endblock %}